<div class="container bg-dark text-light">
    <h1>Today's Quote</h1>
    <div class="row">
        <div class="col-md-8">
    <ul>
        <li *ngFor='let quote of quotes;let i =index'>
            Quote:{{quote.quoteMessage}} <br>
            Author:{{quote.author}}<br>
            sender: {{quote.sender}} <br>
            postdate:{{quote.postDate | timepipe  }}<br> like:{{quote.voteLikes}}  

           <button class="btn btn-success" (click)="functionLike(i)">like</button> 
        dislike:{{quote.voteDislikes}}
         <button class="btn btn-primary " (click)="functionDislike(i)">dislike</button>

         <br>

        <button class="btn btn-danger" (click)=" functionDelete(i)">Delete</button>
        
        
        </li>
    </ul>
    </div>
   </div>
   <div class="row items-center">
       <div class="col-md-8">
        <app-form (addQuote)="addNewQuote($event)"></app-form>
      </div>
    </div>
</div>